:root {
    --icon-size: 5rem;
    --stats-square-size: 3.5rem;
    --box-size: 1.15rem;
}

.stats {
    background-color: white;
    flex-grow: 1;
}

.stats-header {
    background-color: lightgray;
    height: calc(var(--square-size));
    border-radius: var(--sidebar-border-radius) var(--sidebar-border-radius) 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.stats-square {
    width: var(--stats-square-size);
    height: var(--stats-square-size);
    border: solid 5px lightgray;
    outline: solid 1px gray;
    font-size: calc(var(--stats-square-size) * .5);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    text-align: center;
    padding-top: .15rem;
    user-select: none;
}

.stats-row {
    display: flex;
    align-items: center;
}

.successes {
    font-size: 2.5rem;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.white {
    background-color: white;
    color: var(--background-color);
}

.black {
    background-color: var(--background-color);
    color: white;
}

.round-borders {
    border-radius: var(--sidebar-border-radius);
}

.icon {
    background-color: lightgray;
    margin-top: calc(var(--icon-size) * .3);
    margin: 1rem;
    width: var(--icon-size);
    height: var(--icon-size);
}

.centered {
    margin: 1rem auto;
}

.time {
    margin-left: auto;
    margin-right: 1rem;
}

.coords-list {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    margin: auto;
    width: 90%;
}

.coords-result {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    font-size: .9rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0.125rem .2rem;
    user-select: none;
}

.correct {
    color: var(--correct-green);
}

.incorrect {
    color: var(--incorrect-red);
}

.box {
    width: var(--box-size);
    height: var(--box-size);
}

.correct-box {
    background-color: var(--correct-green);
}

.incorrect-box {
    background-color: var(--incorrect-red);
}